<% if user_signed_in? %>
  <div class="center jumbotron", style="background-color: rgba(60, 60, 60, .5); margin-top: 0.5rem" >
    <% breadcrumb :cards %>
    <%= render 'cards/card_form' %>

    <%= render 'cards/card_import' %>

    <%= link_to "Back", :back , style: "margin-top: 1rem" %>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Flashcard</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>