<% if user_signed_in? %>
  <div class="row">
    <% breadcrumb :rings, @rings %>
    <aside class="col-md-3">
      <%= link_to 'New Ring(New window)', new_ring_path, class: 'btn btn-info btn-block' %>
    </aside>
    <div class="col-xs-9">
      <%= render 'rings/rings', rings: @rings %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Flashcard</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>