<% if user_signed_in? %>
  <div class="center jumbotron", style="background-color: rgba(219, 0, 0, .5); margin-top: 3rem" >
    <% breadcrumb :rings %>
    <%= render 'rings/ring_form' %>
    <%= link_to "Back", :back %>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Flashcard</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>